.background-section {
    background-color: #f0f0f0;
    margin:0;
}

/* .imagem-login {
    background-image: url('../img/img-login/img-lgn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
} */

.font-login {
    font-family: 'Questrial', sans-serif;
}

.font-login-title {
    font-family: 'Questrial', sans-serif; 
    font-weight: 800;
}

.input-layout a {
    text-decoration: none;
}

.button-entrar-login button {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.button-entrar-login button:hover {
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}


/* -- BEGIN RESPONSIVE -- */

    /* -- BEGIN RESPONSIVE IPHONE -- */

    /* -- Begin to iphone 12 -- */

    @media (max-width: 390px) {
        .imagem-login {
            display: none;
        }
    }

    /* -- End to iphone 12 -- */




    /* -- BEGIN RESPONSIVE IPHONE -- */