@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Orbitron&family=Questrial&family=Roboto+Condensed:wght@300&display=swap');

body {
    background: #E5E5E5;
}

.h2-register {
    background: black;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    font-family: 'Questrial', sans-serif;

}

.dados-pessoais,.endereco,.senha,.titulo-pagina,.fim-cadastro {
    padding: 10px;
    height: 50%;
}

.form-control,.form-select .hover {
    margin: 5px;
    margin-right: 10px;
    font-family: 'Questrial', sans-serif;
    background: #EEEEEE;
    border: 1px solid #9F9F9F;
    box-sizing: border-box;
    border-radius: 2px;

}

.form-select .hover:hover{
    border: 2px solid yellow;
    background: white;
}

.form-select:focus{
    box-shadow: 0 0 0 0.25rem rgba(19, 20, 20, 0.322);
    background: white;
    outline: 0;
    border-color: white;
}

.form-control:hover {
    border: 2px solid yellow;
    background: white;
}

.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(19, 20, 20, 0.322);
    background: white;
    outline: 0;
    border-color: white;
}

.dados-pessoais{
    background: #F0F0F0;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 3px;
}

.dados-pessoais:focus{
    box-shadow: 0 0 0 0.25rem rgba(19, 20, 20, 0.322);
    background: white;
    outline: 0;
    border-color: white;
}

.endereco{
    background: #F0F0F0;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 10px;
}

.endereco:focus{
    box-shadow: 0 0 0 0.25rem rgba(19, 20, 20, 0.322);
    background: white;
    outline: 0;
    border-color: white;
}

.senha{
    background: #F0F0F0;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 10px;
}

.senha:focus{
    box-shadow: 0 0 0 0.25rem rgba(19, 20, 20, 0.322);
    background: white;
    outline: 0;
    border-color: white;
}

.titulo-pagina{
    background: black;
    color:white;
    font-family: 'Questrial', sans-serif;
    height: 60px;
    margin-bottom: 2%;
    margin-top: 2%;

}

.titulo-dados{
    width: 200px;
    text-align: center;
}

.titulo-endereco,.titulo-senha{
    text-align: center;
    width: 20%;
}

.btn_cadastrar{
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.btn_cadastrar:hover{
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

/* Responsive */

@media (max-width: 767px) {
    .dados-pessoais,.endereco,.senha,.titulo-pagina,.fim-cadastro {
        padding: 10px;
        width: 80%;
        height: 50%;
    }

    .redes-sociais {
        margin-left: 2.5em !important;
    }
}









