@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Orbitron&family=Questrial&family=Roboto+Condensed:wght@300&display=swap');




.btn-principal {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
    border-radius: 4px;
    border: none;
    padding: 20px 20px 20px 20px;
    margin: 5px;
    text-align: center; 
    
}

.btn-principal:hover{
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.link-referencia{
    text-decoration: none;
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.link-referencia:hover {
    color: black;
}

.a {
    text-decoration: none;
}

@media (max-width: 768px) {

    .btn-principal {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}