.btn-principal {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.btn-principal:hover{
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.link-referencia{
    text-decoration: none;
}