@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Orbitron&family=Questrial&family=Roboto+Condensed:wght@300&display=swap');




.btn-secundario {
    background:linear-gradient(8deg, rgba(88, 87, 82, 0.411) 30%, rgb(193, 193, 189) 70%);
    border-radius: 4px;
    border: none;
    padding: 20px 20px 20px 20px;
    margin: 5px; 
    text-align: center;
    font-weight: bold; 
    margin-left: 10px;  
}

.btn-secundario:hover{
    background: linear-gradient(191deg, rgba(88, 87, 82, 0.411) 30%, rgb(211, 211, 209) 70%);
}

.link-referencia{
    text-decoration: none;
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
 
}

.a {
    text-decoration: none;
}

@media (max-width: 768px) {

    .btn-secundario {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 20px;
    }
}
