@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Orbitron&family=Questrial&family=Roboto+Condensed:wght@300&display=swap');

.button {
    background: linear-gradient(8deg, rgba(218,184,0,1) 30%, rgba(234,199,1,1) 70%);
}

.button:hover {
    background: linear-gradient(191deg, #dab800 30%, rgba(234,199,1,1) 70%);
}

.margin-label {
    margin-bottom: -1em;
}

.texto-alinhado {
    text-align: justify;
}

.text-shopping-cart {
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    text-align: justify;
}

.resume-shopping-cart {
    font-family: 'Questrial', sans-serif;
    font-size: 0.7em;
    text-align: justify;
}

.fa-minus {
    color: black;
} 

.size-icons-input {
    color: black;
    
}

.input-center {
    text-align: center;
}

.trash-position {
    display: flex;
   align-items:flex-end ;

}



/* -- BEGIN RESONSIVE -- */

    /* --  Início Responsividade para Iphone -- */

    @media (max-width: 400px) {
        .text-shopping-cart {
            display: flex;
            justify-content: center;

            font-size: 1em;
            font-weight: 600;
            margin-top: 5%;
        }
    }



    @media (max-width: 400px) {
        .resume-shopping-cart {
            /* display: flex; */
            align-self: center;

            font-size: 1em;
            margin-top: 5%;
        }
    }

    @media (max-width: 400px) {
        .price-car {
            display: flex;
            text-align: justify;
            font-size: 1.5em;
        }
    }

    @media (max-width: 400px) {
        .trash-position {
            display: flex;
            justify-content: center;

            padding-top: 5%;
        }
    }

    @media (max-width: 400px) {
        .title-right-side {
            display: flex;
            justify-content: center;

            padding-top: 5%;
        }
    }

    @media (max-width: 400px) {
        .price-car {
            font-size: 1.5em;
        }
    }

    /* --  Fim Responsividade para Iphone -- */

/* -- END RESONSIVE -- */