body{
    /* font-size: 10px; */
    background-color: #E0E0E0;
}

header {
 
    background-color: black;
    color: yellow;
}

nav{
    max-width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

nav p{
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.links-externos {
    color: black;
    text-decoration: none;
}

.links-externos:hover {
    color: orange;
}
.page-content{
    max-width: 80%;
    margin: auto;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.column .title{
    width: 100%;
    height: 41px;
     background: #D4D4D4;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.column .title span{
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
    
}


.text-ac-body{
    text-align:justify;
}


.btn-enviar-contato{
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.btn-enviar-contato:hover {
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.main-card{
    width: 100%;
    background-color: #F0F0F0;
    margin-bottom: 20px;
    min-width: 5px; 
    max-width: 1000px;
   

    /* AJUSTE DE RESPONSIVIDADE */
}

.fonte-pagina-contato {
    font-family: 'Questrial', sans-serif;
}

.main-card .geral{
    padding: 10px;
}

.formulario {
    padding: 15px;
}

input{
    width: 255px;
    height: 25px;
    
    background: #EEEEEE;
    border: 1px solid #858585;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

textarea{
    width: 255px;
    height: 109px;

    background: #EEEEEE;
    border: 1px solid #858585;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.formulario .send {
    width: 144px;
    height: 18px;

    background: #EBB753;
    border: 1px solid #858585;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 11px;
}
.formulario p {

    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #000000;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #9F9F9F;
    margin: 0px 10px;
    
}

.question span{

    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;

    color: #5B5B5B;
}

.response{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;

}

.signin-form-contact input, .signin-form-contact textarea{
    box-shadow: none;
    padding: 14px;
    background-color: #FFF;
}


.accordion-button:not(.collapsed){
    border:none;
}