@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto+Condensed:wght@300&display=swap');

* {

    margin: 0;
}
body{
    background-color: #E0E0E0;
    width: 100%;
    
    
}

.pesquisar{
    background-color: #E0E0E0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.pesquisar-encontre{
    margin-top: 100px;
    margin-bottom: 20px;
}

.pesq_categoria{
    margin-top: 5%;
}

.btn_pesquisa{
    margin-bottom: 5px;    
    margin-right: 50px;
    
   
}

.btn_pesquisa:hover{
    color: black;
    font-weight: bold;
}


.carosel_01{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 5px;
    
}

.frt{
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 50px;
}
.logo_marcas{
    padding-top: 20px;    
    width: 100%;
}

.boxt{
    display: inline-block;
    width: 10%;
    height: 10%;
}

.slider{
    max-width: 1150px;
    display: flex;
}

.slider .card{
    flex: 1;
    margin: 0 5px;
}

.slider .card .img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.carousel-button-hover:hover{
    background: none;
}

.social{
    background: rgb(214, 212, 212);
    margin-top: 95px;
    margin-bottom: 55px;
    text-align: center;
}
.texto_midia{
    margin-top: 10%;
}

.logo-centralizado{
    margin-left: 9%;
}
.logo-centralizado2{
    margin-left: 10%;
    
}

.fundo-filtro{
    background-color: #E0E0E0;
    margin-bottom: 2%;
}


.linhaDestaque{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    text-align: start;
    margin: 50px auto 2px 30px;
}


.icon-close{
    width: 25px;
    height: 25px;
}

.modal-content{
    background-color: #000;
}

.modal-header{
    border-bottom: none;
}


.carousel-hipercarros{
    margin-top: 1px;
}

.carousel-tamanho{
    width: 120%;
    height: 98%;
}

.icons-marcas{
    margin-left: 20px;
}

.alinhamento_paragrafo{
    text-align:justify;
    font-size: 14px;
}

.botao-buscar {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.botao-buscar:hover{
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}


.botao-buscar-home:hover{
    border:none;
}

.imagens-midia{
    justify-items: center;
    margin-top: 50px;
}


.info-gerais1{
    font-size: 29px;
}

.detalhes-info{
    font-size: 15px;
}

.paragrafo-institucional{
    font-size: 19px;
}
.paragrafo-institucional-card{
    font-size: 15px;
    padding: 0 20px;
    text-align: justify;
}

/* -- RESPONSIVE - BEGIN HEADER -- */

@media (max-width: 1000px) {
            
             
    .logo_marcas{
        display: none;         
    }
  
    .pesquisar{
        margin-left: 5%;
    }
      
  
    .texto_midia {
      display: inline-block;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center; 
      padding-top: 1%;
      padding-left: 5%;
      padding-bottom: 1%;
      padding-right: 2%;
      height: 100%;
      width: 100%;            
  }
  
  .imagens-midia{
      display: inline-block;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center;    
      background-color: #E0E0E0;            
      padding-top: 1%;
      padding-left: 5%;
      padding-bottom: 10%;
      padding-right: 2%;
      height: 100%;
      width: 100%; 
      }
  
  
      .modal-mobily{
          width: 100%;
      }
      .modal-mobily2{
          width: 100%;
          margin-top: 40px;
      }
  
      .modal-mobily3{
          width: 75%;
          margin-left: 10%;
      }
  
      
  }

  
@media (max-width: 800px) {
        
   
    .filtro-de-busca{
        margin-left: 1%;
        justify-content: center;
        
        
    }

    .botao-buscar{           
        width: 50%;
        justify-items: center;
        margin-left: 5%;
        margin-top: 3%;
    }

 .btn-detalhes{
    margin-top: 100px;

 }
 
 

    .logo_marcas{
        display: none;
    }
    

    .texto_midia {
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;    
        background-color: #E0E0E0;            
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 1%;
        padding-right: 2%;
        height: 100%;
        width: 100%;            
    }

    .imagens-midia{
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;    
        background-color: #E0E0E0;            
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 10%;
        padding-right: 2%;
        height: 100%;
        width: 100%; 

    }

    .modal-mobily{
        width: 100%;
    }
    .modal-mobily2{
        width: 100%;
        margin-top: 40px;
    }

    .modal-mobily3{
        width: 75%;
        margin-left: 10%;
    }

    .pesquisar{
        justify-content: center;
        margin-left: 12%;
        
    }

    .linhaDestaque{
        justify-content: center;
        display: none;
    }


}

@media (max-width: 640px) {
        
    

    .modal-mobily{
        width: 100%;
    }
    .modal-mobily2{
        width: 100%;
        margin-top: 40px;
    }

    .modal-mobily3{
        width: 75%;
        margin-left: 10%;
    }
    
}

/* -- FOR IPHONE 6/7/8 -- */
@media (max-width: 500px) {
    
    
    .logo_marcas{
        display: nome;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;    
        background-color: #E0E0E0;            
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 0%;
        padding-right: 2%;
        height: 25%;
        
    }      
  

    .texto_midia {
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;           
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 10%;
        padding-right: 2%;
        height: 100%;
        width: 100%;            
    }

    .imagens-midia{
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;    
        background-color: #E0E0E0;            
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 10%;
        padding-right: 2%;
        height: 100%;
        width: 100%; 

    }

    @media (max-width: 450px) {
    
    
        .logo_marcas{
            display: nome;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;    
            background-color: #E0E0E0;            
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 0%;
            padding-right: 2%;
            height: 25%;
            
        }      
      
    
        .texto_midia {
            display: inline-block;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;           
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 10%;
            padding-right: 2%;
            height: 100%;
            width: 100%;            
        }
    
        .imagens-midia{
            display: inline-block;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;    
            background-color: #E0E0E0;            
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 10%;
            padding-right: 2%;
            height: 100%;
            width: 100%; 
    
        }

        .pesquisar{
            justify-content: center;
            margin-left: 1%;
        }

        .linhaDestaque{
            justify-content: center;
            margin-left: 1%;
        }

          

        .modal-mobily{
            width: 100%;
        }
        .modal-mobily2{
            width: 100%;
            margin-top: 40px;
        }

        .modal-mobily3{
            width: 75%;
            margin-left: 10%;
        }
    

        .search-icon {
            display: none;
        }

        .favorite-icon {
            display: none;
        }

        .garage-icon {
            display: none;
        }

        .user-icon {
            padding-top: 150%;
        }
        
        .icon-logo {
            padding-left: 9%;
        }
    }
}