.background-recuperarsenha {
    background-color: #e0e0e0;
}

.background-container-recuperarsenha {
    border-radius: 5px;
    background-color: #f0f0f0;
}

.font-title-recuperarsenha {
    font-family: 'Questrial', sans-serif;
}

.font-recuperarsenha {
    font-family: 'Questrial', sans-serif;
}

.button-recuperarsenha button {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
    
}

.button-recuperarsenha button:hover {
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}