@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Orbitron&family=Questrial&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
}


/* -- BEGIN HEADER -- */

    header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;

        background-color: #000;
        
        padding-top: 2%;
        padding-left: 5%;
        padding-bottom: 2%;
        padding-right: 5%;
        
    }

    .icons-header .icon-menu {
        padding-top: 70%;
    }


    .icon-logo {
        padding-left: 50%;
    }

    .right-icons-header {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;

        padding-right: 7%;
        
    }

    .icons-position-header {

        padding-top: 40%;
        margin-left: 10%; 

    }


    .teste {
        margin: 20px;
    }

   .background-menu {
        /* background-image: url('/img/img-header/bg-menu.png'); */
        background-repeat: no-repeat;
        background-position: center;
   }

   .font-menu {
        font-family: 'Orbitron', sans-serif;
        font-weight: bold;
   }

   .icons-header li {
       padding-top: 3%;
       padding-bottom:3%;
       margin: 2%; 
   }

   li a {
        text-decoration: none;
   }

   .icons-header li:hover {
        background: linear-gradient(191deg, #dab800 30%, rgba(234,199,1,1) 70%);
   }



   /* -- MODAL PESQUISAR -- */

    .icon-close{
        width: 25px;
        height: 25px;
    }

    .modal-content{
        background-color: #000000;
    }

    .modal-header{
        border-bottom: none;
    }

    .background-modal-search {
        background-color: #000000;
    }

  /* -- FIM MODAL PESQUISAR -- */


/* -- END HEADER -- */




/* -- RESPONSIVE - BEGIN HEADER -- */

    @media (max-width: 1000px) {
            
        header {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;

            background-color: #000;
            
            padding-top: 1%;
            padding-left: 4%;
            padding-bottom: 1%;
            padding-right: 4%;  

        }  
        
    }

    @media (max-width: 800px) {
            
        header {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;

            background-color: #000;
            
            padding-top: 1%;
            padding-left: 3%;
            padding-bottom: 1%;
            padding-right: 3%;  

        }  
        
    }

    /* -- FOR IPAD -- */
    @media (max-width: 640px) {
            
        header {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;

            background-color: #000;
            
            padding-top: 1%;
            padding-left: 2%;
            padding-bottom: 1%;
            padding-right: 2%;  

        }  
        
    }

    /* -- FOR IPHONE 6/7/8 -- */
    @media (max-width: 500px) {
        
        header {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;
    
            background-color: #000;
            
            padding-top: 2%;
            padding-left: 5%;
            padding-bottom: 2%;
            padding-right: 5%;  
    
        } 

        .icon-logo {
            padding: 0;
        }

        .search-icon {
            display: none;
        }

        .favorite-icon {
            display: none;
        }

        .garage-icon {
            display: none;
        }

        .user-icon {
            padding-top: 150%;
        }
        

    }
