 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Orbitron&family=Questrial&family=Roboto+Condensed:wght@300&display=swap');

/* body {
    background-color: #E0E0E0;
}

.title-page {
    padding: 2%;
    font-family: 'Questrial', sans-serif;
} */

.btn-modal-checkoutorder {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
    font-family: 'Questrial', sans-serif;
    border-radius: 5px;
    border: none;
}

.btn-modal-checkoutorder:hover{
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.background-modal-checkoutorder {
    background: radial-gradient(circle, rgba(182,182,182,1) 0%, rgba(156,156,156,0.996039603960396) 100%);
}

.format-resume {
    text-align: justify;
}
