body{
    background-color: #E0E0E0;
}

.sobre_nos .sobre_nos1{
    margin-top: 10px;
    
}

.sobre_nos1{
    box-sizing: border-box;
}

.social{
    margin-bottom: 45px;
    margin-top: 45px;
    
}


.texto-sobre-nos{
    margin: px;
}